{% extends 'admin/change_form.html' %}
{% block submit_buttons_bottom %}
{{ block.super }}
<br/>
<div class="submit-row">
    <input class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit" value="Aprovar" name="_aprove">
    <input class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit" value="Rejeitar" name="_rejeitar_">
</div>
{% endblock %}